.containerNavBar{
    background-color: yellow;
    padding-left: 1rem;
    border: 2px solid black;
    border-radius: 2px;
}

h1{
    font-family:cursive;
}

.containerCarrito{
    padding-right: 3rem;
    margin-top: 2rem;
}

.logo{
    width: 12vw;
    height: 13vh; 
    margin-right:50rem ;
}

.menu{
    margin-top: 1.5rem;

}

.mensaje{
    justify-content: center;
    align-items: center;
    display:flex;
    margin-top: 10%;
}

/* body.chakra-ui-light{
    background-color: black;
} */

.cardContainer{
    width: 70%;
    margin: 10rem;
}