.containerNavBar{
    background-color: yellow;
    padding-left: 1rem;
    border: 2px solid black;
    border-radius: 2px;
}

.mensaje{
    font-family:cursive;
    padding-top: 8rem;
}

h1{
    font-family:cursive;
}

.containerCarrito{
    padding-right: 2rem;
    margin-top: 2rem;
}

.logo{
    width: 12vw;
    height: 13vh;    
}

.menu{
    margin-top: 1.5rem;

}
 
.mensaje{
    border: 1px double black;
    margin-top: 5rem;
    padding: 1.5rem;
    text-align: center;
} 