.containerNavBar{
    background-color: yellow;
    padding-left: 1rem;
    border: 2px solid black;
    border-radius: 2px;
}

h1{
    font-family:cursive;
}

.containerCarrito{
    padding-right: 2rem;
    margin-top: 2rem;
}

.logo{
    width: 12vw;
    height: 13vh;    
}

.menu{
    margin-top: 1.5rem;

}