.containerNavBar{
    background-color: yellow;
    padding-left: 1rem;
    border: 2px solid black;
    border-radius: 2px;
}

h1{
    font-family:cursive;
    font-size:x-large;
    text-align: center;
    margin: 5rem;
}

h2{
    font-size: x-large;
}

.carrito-imagen{
    width: 10%;
    border-radius:1rem;
}

.container-carrito{
    display: flex;
    justify-content: space-between;
    align-items: center;  
}

.boton-eliminar{
    color: red;
    cursor: pointer;
}

.containerCarrito{
    padding-right: 3rem;
    margin-top: 2rem;
}

.carrito-total{
    margin: 2rem;
    padding: 2rem;
    cursor: pointer;
}

.carrito-vaciar{
    margin-right: 2rem;
}

.logo{
    width: 10vw;
    height: 20vh; 
}

.menu{
    margin-top: 1.5rem;
}

.contenedor{
    padding: 2rem;
    margin: 1.5rem;
    display:inline-block;
    width: 30%;
    margin-top: 5rem;
}

.imagen{
    width: 60%;   
    margin-left: 4rem;
    border-radius: 1rem;
}

.card-footer{
    justify-content: space-around;
}

.titulo{
    text-align: center;
}

.contenedor-form{
    border: 1px solid;
    width: 30%;
    margin-left: 35%;
    margin-top: 5%;
    background-color: yellow;
}

.container-form{
    text-align: center;
}

input{
    margin: 1rem;
    width: 70%;
    text-align: center;
}
.mensaje{
    margin-left: 40%;
    margin-top: 10%;
}

.comprar{
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.contador{
    display: flex;
    margin-left: 3.5rem;
}

.contador-numero{
    margin: 1rem;
}

.agregar{
    margin-left: 1rem;
}